<!DOCTYPE html>
<html>
<head>
    <title>KallSony's</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="KallSony's">
    <meta name="keywords" content="KallSony's">
    <meta name="author" content="KallSony's">

    <!--Google font-->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

    <!--icon css-->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="http://themes.pixelstrap.com/bigdeal/assets/css/themify.css">

    <!--Slick slider css-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/slick.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/slick-theme.css">

    <!--Animate css-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/animate.css">

    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.css">

    <!-- Theme css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/color1.css" media="screen" id="color">
    <link href="~/Content/Site.css" rel="stylesheet" />


</head>
<body class="bg-light ">

    <!-- loader start -->
    <div class="loader-wrapper">
        <div>
            <img src="~/assets/images/loader.gif" alt="loader">
        </div>
    </div>
    <!-- loader end -->
    <!--header start-->
    <header>
        <div class="mobile-fix-option"></div>

        <div class="layout-header1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main-menu-block">
                            <div class="menu-left">
                                <div class="sm-nav-block">
                                    <span class="sm-nav-btn"><i class="fa fa-bars"></i></span>
                                    <ul class="nav-slide">
                                        <li>
                                            <div class="nav-sm-back">
                                                Regresar <i class="fa fa-angle-right pl-2"></i>
                                            </div>
                                        </li>
                                        <li><a href="#">Celulares</a></li>
                                        <li><a href="#">TV, Appliances</a></li>
                                        <li><a href="#">Electrodomésticos</a></li>
                                        <li><a href="#">Tecnología</a></li>
                                        <li><a href="#">Sonido profesional</a></li>
                                        <li><a href="#">Smart Appliances</a></li>
                                        <li><a href="#">Cámaras </a></li>
                                        <li><a href="#">Accesorios</a></li>
                                        <li><a href="#">Impresiones</a></li>
                                        <li><a href="#">TecnoHogar </a></li>
                                        <li><a href="#">Computadores</a></li>
                                        <li><a href="#">Tablets</a></li>
                                        <li class="mor-slide-open">
                                            <ul>
                                                <li><a href="#">Dispositivos</a></li>
                                                <li><a href="#">Deportes </a></li>
                                                <li><a href="#">Productos digitales</a></li>
                                                <li><a href="#">Video juegos</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a class="mor-slide-click">
                                                Más Categorías
                                                <i class="fa fa-angle-down pro-down"></i>
                                                <i class="fa fa-angle-up pro-up"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="brand-logo">
                                    <a href="/Home/Index">
                                        <img src="~/assets/images/Logo_Kallsonys.png" class="img-fluid  " alt="logo-header">
                                    </a>
                                </div>
                            </div>
                            <div class="menu-right">
                                <div class="toggle-block">
                                    <nav id="main-nav">
                                        <div class="toggle-nav"><i class="fa fa-bars sidebar-bar"></i></div>
                                        <ul id="main-menu" class="sm pixelstrap sm-horizontal">
                                            <li>
                                                <div class="mobile-back text-right">Regresar<i class="fa fa-angle-right pl-2" aria-hidden="true"></i></div>
                                            </li>
                                            <!--HOME-->
                                            <li>
                                                <a href="/Home/Index">Inicio</a>
                                            </li>
                                            <!--HOME-END-->
                                            <!--SHOP-->
                                            <li>
                                                <a href="#">Comprar</a>
                                                @*<ul>
                                                        <li><a href="category-page(left-sidebar).html">left sidebar</a></li>
                                                        <li><a href="category-page(right-sidebar).html">right sidebar</a></li>
                                                        <li><a href="category-page(no-sidebar).html">no sidebar</a></li>
                                                        <li><a href="category-page(sidebar-popup).html">sidebar popup</a></li>
                                                        <li><a href="category-page(metro).html">metro <span class="new-tag">new</span></a></li>
                                                        <li><a href="category-page(full-width).html">full width <span class="new-tag">new</span></a></li>
                                                        <li><a href="category-page(infinite-scroll).html">infinite scroll</a></li>
                                                        <li><a href=category-page(3-grid).html>3 grid</a></li>
                                                        <li><a href="category-page(6-grid).html">6 grid</a></li>
                                                        <li><a href="category-page(list-view).html">list view</a></li>
                                                    </ul>*@
                                            </li>
                                            <!--SHOP-END-->
                                            <!--product-meu start-->
                                            <li class="mega" id="hover-cls">
                                                <a href="#">
                                                    Productos
                                                </a>

                                            </li>
                                            <!--product-meu end-->
                                            <!--pages-meu start-->
                                            <li>
                                                <a href="#">Páginas</a>
                                                <ul>
                                                    <li>
                                                        <a href="#">Mi Cuenta</a>
                                                        <ul>
                                                            <li><a href="wishlist.html">Lista de Deseos</a></li>
                                                            <li><a href="cart.html">Carrito de Compras</a></li>
                                                            <li><a href="cart.html">Rastrea tu orden</a></li>
                                                            <li><a href="login.html">Iniciar Sesión</a></li>
                                                            <li><a href="register.html">Registrarse</a></li>
                                                            <li><a href="contact.html">Contáctanos</a></li>
                                                            <li><a href="forget-pwd.html">Olvidé mi Contraseña</a></li>
                                                            <li><a href="profile.html">Perfil </a></li>
                                                            <li><a href="checkout.html">checkout</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="about-page.html">KallSony's</a></li>

                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <div>
                                    <div class="icon-nav">
                                        <ul>
                                            <li class="mobile-user onhover-dropdown" onclick="openAccount()">
                                                <a href="#"><i class="fa fa-user" aria-hidden="true"></i></a>
                                            </li>
                                            <li class="mobile-wishlist" onclick="openWishlist()">
                                                <a href="#">
                                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                                    <div class="cart-item"><div>Items<span>Lista de Deseos</span></div></div>
                                                </a>
                                            </li>
                                            <li class="mobile-search" style="display: block !important;">
                                                <a href="#"><i class="icon-search"></i></a>
                                                <div class="search-overlay">
                                                    <div>
                                                        <span class="close-mobile-search">×</span>
                                                        <div class="overlay-content">
                                                            <div class="container">
                                                                <div class="row">
                                                                    <div class="col-xl-12">
                                                                        <form>
                                                                            <div class="form-group"><input type="text" class="form-control" id="exampleInputPassword1" placeholder="Escribe el Producto que buscas... "></div>
                                                                            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="mobile-setting mobile-setting-hover" onclick="openSetting()">
                                                <a href="#"><i class="icon-settings"></i></a>
                                            </li>
                                        </ul>
                                        <div class="cart-block mobile-cart cart-hover-div" onclick="openCart()">
                                            <a href="#"><span class="cart-product">0</span><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="category-header">
            <div class="custom-container">
                <div class="row">
                    <div class="col">
                        <div class="navbar-menu">
                            <div class="category-left">
                                <div class=" nav-block">
                                    <div class="nav-left">
                                        <nav class="navbar" data-toggle="collapse" data-target="#navbarToggleExternalContent">
                                            <button class="navbar-toggler" type="button">
                                                <span class="navbar-icon"><i class="fa fa-arrow-down"></i></span>
                                            </button>
                                            <h5 class="mb-0 ml-3 text-white title-font">Busca por Categoría</h5>
                                        </nav>
                                        <div class="collapse nav-desk" id="navbarToggleExternalContent">
                                            <ul class="nav-cat title-font">
                                                <li> <img src="~/assets/images/01.png " alt="catergory-product"> <a>Celulares</a></li>
                                                <li> <img src="~/assets/images/02.png " alt="catergory-product"> <a>TV, Appliances</a></li>
                                                <li> <img src="~/assets/images/03.png " alt="catergory-product"> <a>Electrodomésticos</a></li>
                                                <li> <img src="~/assets/images/04.png " alt="catergory-product"> <a>Tecnología</a></li>
                                                <li> <img src="~/assets/images/05.png " alt="catergory-product"> <a>Sonido profesional</a></li>
                                                <li> <img src="~/assets/images/06.png " alt="catergory-product"> <a>Smart Appliances</a></li>
                                                <li> <img src="~/assets/images/07.png " alt="catergory-product"> <a>Cámaras </a></li>
                                                <li> <img src="~/assets/images/08.png " alt="catergory-product"> <a>Accesorios</a></li>
                                                <li> <img src="~/assets/images/09.png " alt="catergory-product"> <a>TecnoHogar</a></li>
                                                <li> <img src="~/assets/images/10.png " alt="catergory-product"> <a>Computadores </a></li>
                                                <li> <img src="~/assets/images/11.png " alt="catergory-product"> <a>Tablets</a></li>
                                                <li> <img src="~/assets/images/12.png " alt="catergory-product"> <a>Impresiones</a></li>
                                                <li class="mor-slide-open">
                                                    <ul>
                                                        <li> <img src="~/assets/images/08.png " alt="catergory-product"> <a>Dispositivos</a></li>
                                                        <li> <img src="~/assets/images/13.png " alt="catergory-product"> <a>Deportes</a></li>
                                                        <li> <img src="~/assets/images/10.png " alt="catergory-product"> <a>Productos digitales </a></li>
                                                        <li> <img src="~/assets/images/11.png " alt="catergory-product"> <a>Video juegos</a></li>
                                                    </ul>
                                                </li>
                                                <li> <a class="mor-slide-click">Más categorías <i class="fa fa-angle-down pro-down"></i><i class="fa fa-angle-up pro-up"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-block" style="display: block !important;">
                                    <div class="input-box">
                                        <div class="big-deal-form">
                                            <div class=" input-group ">
                                                <div class="input-group-prepend">
                                                    <span class="search"><i class="fa fa-search"></i></span>
                                                </div>
                                                <input id="tags" class="form-control" type="search" placeholder="Escribe el Producto que buscas... " required>
                                                <button id="tagsbutton" type="submit" class="btn" onclick="buscartags()">Buscar</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="category-right">
                                <div class="contact-block">
                                    <div>
                                        <i class="fa fa-volume-control-phone"></i>
                                        <span>Llámanos<span>031-219-0708</span></span>
                                    </div>
                                </div>
                                <div class="btn-group">
                                    <div class="gift-block" data-toggle="dropdown">
                                        <div class="grif-icon">
                                            <i class="icon-gift"></i>
                                        </div>
                                        <div class="gift-offer">
                                            <p>Descubre</p>
                                            <span>Nuestras Sorpresas</span>
                                        </div>
                                    </div>
                                    <div class="dropdown-menu gift-dropdown">
                                        <div class="media">
                                            <div class="mr-3">
                                                <img src="~/assets/images/icon/1.png" alt="Generic placeholder image">
                                            </div>
                                            <div class="media-body">
                                                <h5 class="mt-0">Promociones</h5>
                                                <p><img src="~/assets/images/icon/currency.png" class="cash" alt="gift-block"> Más de 1000 productos</p>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <div class="mr-3">
                                                <img src="~/assets/images/icon/2.png" alt="Generic placeholder image">
                                            </div>
                                            <div class="media-body">
                                                <h5 class="mt-0">Descuentos Especiales</h5>
                                                <p><img src="~/assets/images/icon/fire.png" class="fire" alt="gift-block">Aplican para nuestras campañas </p>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <div class="mr-3">
                                                <img src="~/assets/images/icon/3.png" alt="Generic placeholder image">
                                            </div>
                                            <div class="media-body">
                                                <h5 class="mt-0">Compra sin límites</h5>
                                                <p>NO requieres membresía.</p>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <div class="mr-3">
                                                <img src="~/assets/images/icon/6.png" alt="Generic placeholder image">
                                            </div>
                                            <div class="media-body">
                                                <h5 class="mt-0">Descuetnos de hasta 50%</h5>
                                                <p>Compra todo en eléctricos </p>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <div class="mr-3">
                                                <img src="~/assets/images/icon/5.png" alt="Generic placeholder image">
                                            </div>
                                            <div class="media-body">
                                                <h5 class="mt-0">Envío Gratis</h5>
                                                <p><img src="~/assets/images/icon/currency.png" class="cash" alt="curancy"> Por compras superiores a 100 mil pesos</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--header end-->


    <div>
        @RenderBody()
    </div>




    <!--footer start-->
    <footer>
        <div class="footer-1 section-mb-space">
            <div class="container">
                <div class="logo-contain">
                    <div class="row">
                        <div class="col-lg-3 col-md-12 ">
                            <div class="logo-block">
                                <img src="~/assets/images/Logo_Kallsonys.png" class="img-fluid  " alt="logo">
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-12 pr-lg-0">
                            <div class="logo-detail">
                                <p>
                                    Somos una empresa comprometida con sus clientes, que garantiza un alto grado de satisfacción y expericnia de usario positiva, danos el gusto de atenderte.
                                    para nosotros, tú eres nuestra prioridad!!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-1 section-mb-space">
            <div class="container">
                <div class="footer-box">
                    <div class="row">
                        <div class="col-md-8 pr-md-0">
                            <div class="footer-link">
                                <div class="row">
                                    <div class="col-md-12 ">
                                        <div class="footer-sub-box account">
                                            <div class="footer-title">
                                                <h5>Más sobre nosotros</h5>
                                            </div>
                                            <div class="footer-contant">
                                                <ul>
                                                    <li><a href="#">KallSony's</a></li>
                                                    <li><a href="#">Contáctanos</a></li>
                                                    <li><a href="#">terminos & condiciones</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="footer-sub-box">
                                            <div class="footer-title">
                                                <h5>Enlaces rápidos</h5>
                                            </div>
                                            <div class="footer-contant">
                                                <ul>
                                                    <li><a href="#"> Mi cuenta</a></li>
                                                    <li><a href="#"> Sigue tu orden</a></li>
                                                    <li><a href="#">FAQ </a></li>
                                                    <li><a href="#">Nuevos Productos</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4  pl-md-0">
                            <div class="footer-sub-box footer-contant-box">
                                <div>
                                    <div class="footer-title">
                                        <h5>Contáctanos</h5>
                                    </div>
                                    <div class="footer-contant">
                                        <ul class="contact-list">
                                            <li><i class="fa fa-map-marker"></i>CIAN <br> Colombia-<span>031-2190708</span></li>
                                            <li><i class="fa fa-phone"></i>LLámanos: <span>031-2190708</span></li>
                                            <li><i class="fa fa-envelope-o"></i>Email: atención atencion.cliente@kallsonys.com</li>
                                            <li><i class="fa fa-fax"></i>fax <span>031-2190708</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-1 section-mb-space">
            <div class="sub-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-md-8 col-sm-12">
                            <div class="footer-end">
                                <p><span>2019 - 20</span> Copy Right CIAN-kallsonys</p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-4 col-sm-12">
                            <div class="payment-card-bottom">
                                <ul>
                                    <li><a href=""><img src="~/assets/images/pay/1.png" class="img-fluid" alt="pay"></a></li>
                                    <li><a href=""><img src="~/assets/images/pay/2.png" class="img-fluid" alt="pay"></a></li>
                                    <li><a href=""><img src="~/assets/images/pay/3.png" class="img-fluid" alt="pay"></a></li>
                                    <li><a href=""><img src="~/assets/images/pay/4.png" class="img-fluid" alt="pay"></a></li>
                                    <li><a href=""><img src="~/assets/images/pay/5.png" class="img-fluid" alt="pay"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--footer end-->
    <!-- tap to top -->
    <div class="tap-top">
        <div>
            <i class="fa fa-angle-double-up"></i>
        </div>
    </div>
    <!-- tap to top End -->
    <!-- Add to cart bar -->
    <div id="cart_side" class=" add_to_cart bottom ">
        <a href="javascript:void(0)" class="overlay" onclick="closeCart()"></a>
        <div class="cart-inner">
            <div class="cart_top">
                <h3>Mi Carrito de Compras</h3>
                <div class="close-cart">
                    <a href="javascript:void(0)" onclick="closeCart()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="cart_media">
                <ul class="cart_product">
                    <li>
                        <div class="media">
                            <a href="#">
                                <img alt="" class="mr-3" src="~/assets/images/1.jpg">
                            </a>
                            <div class="media-body">
                                <a href="#">
                                    <h4>item name</h4>
                                </a>
                                <h4>
                                    <span>1 x $ 299.00</span>
                                </h4>
                            </div>
                        </div>
                        <div class="close-circle">
                            <a href="#">
                                <i class="ti-trash" aria-hidden="true"></i>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <a href="#">
                                <img alt="" class="mr-3" src="~/assets/images/2.jpg">
                            </a>
                            <div class="media-body">
                                <a href="#">
                                    <h4>item name</h4>
                                </a>
                                <h4>
                                    <span>1 x $ 299.00</span>
                                </h4>
                            </div>
                        </div>
                        <div class="close-circle">
                            <a href="#">
                                <i class="ti-trash" aria-hidden="true"></i>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <a href="#"><img alt="" class="mr-3" src="~/assets/images/3.jpg"></a>
                            <div class="media-body">
                                <a href="#">
                                    <h4>item name</h4>
                                </a>
                                <h4><span>1 x $ 299.00</span></h4>
                            </div>
                        </div>
                        <div class="close-circle">
                            <a href="#">
                                <i class="ti-trash" aria-hidden="true"></i>
                            </a>
                        </div>
                    </li>
                </ul>
                <ul class="cart_total">
                    <li>
                        <div class="total">
                            <h5>subtotal : <span>$299.00</span></h5>
                        </div>
                    </li>
                    <li>
                        <div class="buttons">
                            <a href="cart.html" class="btn btn-normal btn-xs view-cart">Revisar Carro</a>
                            <a href="#" class="btn btn-normal btn-xs checkout">checkout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Add to cart bar end-->
    <!-- Quick-view modal popup start-->
    <div class="modal fade bd-example-modal-lg theme-modal" id="quick-view" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content quick-view-modal">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="row">
                        <div class="col-lg-6 col-xs-12">
                            <div class="quick-view-img"><img src="~/assets/images/a4.jpg" alt="quick" class="img-fluid "></div>
                        </div>
                        <div class="col-lg-6 rtl-text">
                            <div class="product-right">
                                <h2>Women Pink Shirt</h2>
                                <h3>$32.96</h3>
                                <ul class="color-variant">
                                    <li class="bg-light0"></li>
                                    <li class="bg-light1"></li>
                                    <li class="bg-light2"></li>
                                </ul>
                                <div class="border-product">
                                    <h6 class="product-title">product details</h6>
                                    <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
                                </div>
                                <div class="product-description border-product">
                                    <div class="size-box">
                                        <ul>
                                            <li class="active"><a href="#">s</a></li>
                                            <li><a href="#">m</a></li>
                                            <li><a href="#">l</a></li>
                                            <li><a href="#">xl</a></li>
                                        </ul>
                                    </div>
                                    <h6 class="product-title">quantity</h6>
                                    <div class="qty-box">
                                        <div class="input-group">
                                            <span class="input-group-prepend"><button type="button" class="btn quantity-left-minus" data-type="minus" data-field=""><i class="ti-angle-left"></i></button> </span>
                                            <input type="text" name="quantity" class="form-control input-number" value="1"> <span class="input-group-prepend"><button type="button" class="btn quantity-right-plus" data-type="plus" data-field=""><i class="ti-angle-right"></i></button></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-buttons"><a href="#" class="btn btn-normal">add to cart</a> <a href="#" class="btn btn-normal">view detail</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Quick-view modal popup end-->
    <!-- My account bar start-->
    <div id="myAccount" class="add_to_cart right account-bar">
        <a href="javascript:void(0)" class="overlay" onclick="closeAccount()"></a>
        <div class="cart-inner">
            <div class="cart_top">
                <h3>Mi Cuenta</h3>
                <div class="close-cart">
                    <a href="javascript:void(0)" onclick="closeAccount()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <form class="theme-form">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" placeholder="Email" required="">
                </div>
                <div class="form-group">
                    <label for="review">Contraseña</label>
                    <input type="password" class="form-control" id="review" placeholder="Ingresa tu Contraseña" required="">
                </div>
                <div class="form-group">
                    <a href="#" class="btn btn-rounded btn-block ">Inicio de Sesión</a>
                </div>
                <div>
                    <h5 class="forget-class"><a href="forget-pwd.html" class="d-block">Olvidaste tu contraseña?</a></h5>
                    <h6 class="forget-class"><a href="register.html" class="d-block">Nuevo en este sitio? Registrate ahora!!</a></h6>
                </div>
            </form>
        </div>
    </div>
    <!-- Add to account bar end-->
    <!-- Add to wishlist bar -->
    <div id="wishlist_side" class="add_to_cart right">
        <a href="javascript:void(0)" class="overlay" onclick="closeWishlist()"></a>
        <div class="cart-inner">
            <div class="cart_top">
                <h3>Lista de Deseos</h3>
                <div class="close-cart">
                    <a href="javascript:void(0)" onclick="closeWishlist()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="cart_media">
                <ul class="cart_product">
                    <li>
                        <div class="media">
                            <a href="#">
                                <img alt="" class="mr-3" src="~/assets/images/1.jpg">
                            </a>
                            <div class="media-body">
                                <a href="#">
                                    <h4>item name</h4>
                                </a>
                                <h4>
                                    <span>sm</span>
                                    <span>, blue</span>
                                </h4>
                                <h4>
                                    <span>$ 299.00</span>
                                </h4>
                            </div>
                        </div>
                        <div class="close-circle">
                            <a href="#">
                                <i class="ti-trash" aria-hidden="true"></i>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <a href="#">
                                <img alt="" class="mr-3" src="~/assets/images/2.jpg">
                            </a>
                            <div class="media-body">
                                <a href="#">
                                    <h4>item name</h4>
                                </a>
                                <h4>
                                    <span>sm</span>
                                    <span>, blue</span>
                                </h4>
                                <h4>
                                    <span>$ 299.00</span>
                                </h4>
                            </div>
                        </div>
                        <div class="close-circle">
                            <a href="#">
                                <i class="ti-trash" aria-hidden="true"></i>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <a href="#"><img alt="" class="mr-3" src="~/assets/images/3.jpg"></a>
                            <div class="media-body">
                                <a href="#"><h4>item name</h4></a>
                                <h4>
                                    <span>sm</span>
                                    <span>, blue</span>
                                </h4>
                                <h4><span>$ 299.00</span></h4>
                            </div>
                        </div>
                        <div class="close-circle">
                            <a href="#">
                                <i class="ti-trash" aria-hidden="true"></i>
                            </a>
                        </div>
                    </li>
                </ul>
                <ul class="cart_total">
                    <li>
                        <div class="total">
                            <h5>subtotal : <span>$299.00</span></h5>
                        </div>
                    </li>
                    <li>
                        <div class="buttons">
                            <a href="wishlist.html" class="btn btn-normal btn-block  view-cart">Revisar Lista</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Add to wishlist bar end-->
    <!-- notification product -->
    <div class="product-notification" id="dismiss">
        <span onclick="dismiss();" class="close" aria-hidden="true">×</span>
        <div class="media">
            <img class="mr-2" src="~/assets/images/5.jpg" alt="Generic placeholder image">
            <div class="media-body">
                <h5 class="mt-0 mb-1">Últimas Tendencias</h5>
                Los últimos Smartphones y mucho más.
            </div>
        </div>
    </div>
    <!-- notification product -->
    <!-- latest jquery-->
    <script src="~/assets/js/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        var list = [
            "Televisor",
            "Samsumg",
            "Apple",
            "Celulares",
            "Neveras",
            "Equipos de sonido",
            "Sony",
            "HP",
            "Impresoras",
            "4k",
            "HD",
            "UHD",
            "Tabletas",
            "Computador Portátil",
            "Reloj",
            "Full HD",
            "Galaxy",
            "Huawei",
            "Cámaras Fotográfica",
            "Canon",
            "Nikon",
            "Ram"
        ];
        $("#tags").autocomplete({
            source: list
        });


        function buscartags() {
            var id1 = document.getElementById("tags").value;


            if (id1 == "") {
                alert('Ingresa un Código, Nombre o Descripción del Producto');
            }
            else {
                location.href = "/Product/FindProduct?id1=" + id1;
            }
        }

    </script>


    <!-- slick js-->
    <script src="~/assets/js/slick.js"></script>

    <!-- popper js-->
    <script src="~/assets/js/popper.min.js"></script>

    <!-- Timer js-->
    <script src="~/assets/js/menu.js"></script>

    <!-- Bootstrap js-->
    <script src="~/assets/js/bootstrap.js"></script>

    <!-- Bootstrap js-->
    <script src="~/assets/js/bootstrap-notify.min.js"></script>

    <!-- Theme js-->
    <script src="~/assets/js/slider-animat-three.js"></script>
    <script src="~/assets/js/script.js"></script>
    <script src="~/assets/js/modal.js"></script>

    @*@RenderSection("scripts", required: false)*@
</body>
</html>
